---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<main>
			<img src="profile_photo.jpg">
			<p>
				Hi! I'm Susumu, and I'm a software engineer based in Seattle. My past experience includes building
				products geared toward low-code custom application development at <a href="https://appian.com/">Appian</a>
				and helping to increase the GDP of the internet at <a href="https://stripe.com/">Stripe</a>.
			</p>
			<p>
				Lately, my focus has been on learning about mobile app design and development, specifically in Android
				using <a href="https://developer.android.com/jetpack/compose">Jetpack Compose</a>. I'm also interested in
				multiplatform development and have been exploring <a href="https://kotlinlang.org/docs/multiplatform.html">Kotlin Multiplatform</a>,
				as well as the declarative UI framework based on it, <a href="https://www.jetbrains.com/lp/compose-multiplatform/">Compose Multiplatform</a>.
			</p>
			<p>
				Looking forward, I plan to use this site as a place to share what I've learned and hopefully teach a thing or two to others. So be on the lookout for blog posts!
				In the meantime, feel free to check out my <a href="https://github.com/susumunoda?tab=repositories">GitHub repos</a> to see what I've been working on.
			</p>
		</main>
		<Footer />
	</body>
</html>
